/* Form and From Div Rules
==============================*/

.form{
    position: relative;
    padding-left: 20px;
    padding-right:20px;
    width: 805px;
    height: 460px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0px black;
    top: 50%;
    margin-top: 170px;

    
}

/*Label Rules
====================================*/

.form-label{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Text Area / Input Rules
=====================================*/
.input-field {
    padding-top: 5px;
    padding-bottom: 10px;  
}
textarea {
    resize: none;
    width: 800px;
    height:200px;

    border-radius: 10px;
}
input{
    width: 250px;
    border-radius: 5px;
}