.contact-page{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat; 

}

Footer {
    position: fixed;
}

