/* NarBar container
=================================== */

nav {
  top: 0;
  position: fixed;
  max-width: 1920px;
  width: 100%;
  height: auto;

  padding-top: 15px;
  /* padding-bottom: 30rem; */

  margin: auto;
  text-align: center;
  z-index: 2;
}
/* NarBar Logo
 ==================================  */
.nav-logo-desktop {
  width: 350px;
  height: 75px;
  margin-bottom: 15px;
}

/* NavBar ul, ul li, ul li a
===================================== */

.navigation-items {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation-items li {
  display: inline-block;

  background-color: #000;
  opacity: 75%;
  padding: 10px 25px;

  border-left: solid 2px #0b0b0b;
  border-radius: 5px;

  font-size: large;
  font-weight: bold;
}
#contact {
  border-right: solid 2px #0b0b0b;
}

/* Hovering Navigation Items 
================================= */

.navigation-items a:hover {
  color: #c9c9c9;
}

.navigation-items li:hover {
  opacity: 100%;
}

/*Response Rules
==================================*/

@media screen and (max-width: 440px) {
}
