/* NarBar container
=================================== */

nav {
  top: 0;
  position: fixed;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;

  z-index: 2;
}
/* NarBar Logo
 ==================================  */
.nav-logo-desktop, .nav-logo-mobile712 {
  width: 250px;

  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
}

.nav-logo-mobile712{
  display: none;
  margin: auto;
  padding-top: 0;
  padding-bottom: 10px;
  
}

/* NavBar ul, ul li, ul li a
===================================== */

.navigation-items {
  margin: 0; 
  padding: 0; 
  text-align: center;
}

.navigation-items li {
  display: inline-block;
  /* margin-right: 3rem; */

  font-size: large;
  font-weight: bold;
}

.navigation-items li a {
  padding: 0.5rem 1rem;
}

/* About-sub-list
============================== */

.About-sub-list {
  display: none;
  position: absolute;

  padding-left: 0;
}

.About-sub-list li {
  text-align: left;
  width: 100%;
  padding-top: 10px;
}

/* Hovering Navigation Items 
================================= */

.navigation-items a:hover {
  color: #c9c9c9;
}

.navigation-items li:hover ul {
  display: block;
}

/*Response Rules
==================================*/

@media screen and (max-width: 712px){
  .nav-logo-desktop{
    display: none;
  }
  .nav-logo-mobile712{
    display: block;
  }

  nav {
    padding-top: 0;
  }


}

@media screen and (max-width: 440px){
  
}