footer {
  width: 100%;
  position: relative;

  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

footer div {
  display: inline-block;
  text-align: left;
  margin-left: 6rem;
}

.list-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #524f4e;
}
footer ul li a {
  color: #7d7d7d;
}
