/* Home Page globals
=====================================*/
.home-page {
  width: 100%;
  bottom: 0;
}

div {
  vertical-align: top;
}
/* Top image half
=======================================*/
.top-img {
  width: 100%;
  display: block;
}
.textbox {
  position: absolute;
  z-index: 1;

  width: 20%;
  height: auto;

  margin-left: 15%;
  margin-top: 25%;
}

/* Second (bottom half) 
=========================================*/
.services-img {
  display: block;
  width: 100%;
}

.header-block {
  position: absolute;
  width: 100%;
  display: block;
  padding: 1.5rem 4.5rem;
  border: 4.5px solid black;
  outline: 3px solid black;
  outline-offset: -25px;

  width: 18rem;
  height: auto;
  margin-left: 41%;
}

.header-block p {
  padding: 0;
}

/* Text Blocks
===========================================*/

.text {
  position: absolute;
  z-index: 1;
  padding-top: 0;

  width: 20rem;
  height: auto;
  margin-top: 10rem;
  padding: 3rem;

  border: 4.5px solid black;
  box-shadow: inset 0px 0px 50px 4px;
  font-weight: 600;
  border-radius: 10%;
}

.textbox-header {
  text-align: center;
}

/*Individual text boxs by ID 
=============================================*/
#services-textbox {
  margin-top: 20rem;
  left: 15rem;
}

#protfolio-textbox {
  margin-top: 25rem;
  right: 15em;
}

#protfolio-textbox a {
  font-weight: 100;
  text-decoration: underline;
  color: blue;
}

/*Buttons
===========================*/
.buttons {
  position: absolute;
  margin-top: 10px;
  margin-left: auto;
}
